---
import { Icons } from "../content/icons"
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="Presto">
	<div class="flex justify-center items-center px-8 h-[calc(100dvh-206px)]">
		<div class="flex justify-center items-center gap-[60px]">
			<div
				class="flex flex-col items-center lg:items-start gap-6 max-w-[569px] w-full"
			>
				<h1
					class="max-w-[352px] w-full lg:max-w-none text-cinza-900 text-6xl lg:text-8xl"
				>
					Have a taste{" "}
					<span class="text-primary font-bold"> With Presto </span>
				</h1>

				<div class="flex flex-col gap-2">
					<p>La migliore cucina italiana</p>

					<Icons.stars />
				</div>
			</div>

			<img
				src="/images/pasta-home.png"
				alt="Pasta image"
				class="hidden lg:block max-w-[512px] w-full h-auto"
			/>
		</div>
	</div>
</Layout>
