---
import { getCollection } from "astro:content"
import Layout from "../../layouts/BaseLayout.astro"

const dishes = await getCollection("dishes").then(data => {
	return data.map(dish => dish.data)
})
---

<Layout title="Presto | Menu">
	<div
		class="flex justify-center items-center h-auto lg:h-[calc(100dvh-206px)]"
	>
		<div
			class="flex overflow-y-auto flex-col gap-4 mb-4 lg:mb-0 lg:flex-row lg:grid lg:grid-cols-3 lg:h-[536px] lg:gap-4"
		>
			{
				dishes.map(dish => {
					return (
						<div class="flex h-[260px] flex-col justify-center items-center gap-[10px] px-8 py-6 rounded-lg border border-neutral-300">
							<img
								src={dish.image}
								alt="Italian dish"
								class="w-[150px] h-auto"
							/>

							<p class="font-semibold">{dish.title}</p>

							<div class="flex gap-[10px] items-center justify-between">
								<p class="font-bold text-green-500">
									{dish.price}
								</p>

								<button class="px-3 py-1 rounded-md bg-[#29293B] text-white">
									Add to cart
								</button>
							</div>
						</div>
					)
				})
			}
		</div>
	</div>
</Layout>
